# Dependencies
node_modules/
**/node_modules/

# Env files
.env
.env.local
**/.env

# Build outputs
dist/
build/
frontend/dist/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
